@font-face {
    font-family: 'DINPro';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/DINPro-Light_1.otf');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/DINPro-Regular_1.otf');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/DINPro-Medium_1.otf');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/DINPro-Bold_2.otf');
}

@font-face {
    font-family: 'DINPro';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/DINPro-Black_1.otf');
}

@font-face {
    font-family: 'DIN';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/din-regular_1.ttf');
}